:root {
  /* ОСНОВНЫЕ ШРИФТЫ */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* СВЕТЛЫЕ ОТТЕНКИ ШРИФТА */
  --primary-txt--mode-light: #ffffff;
  --secondary-txt--mode-light: #4d5ae5;
  --main-txt--mode-light: #f4f4fd;

  /* ТЕМНЫЕ ОТТЕНКИ ШРИФТА */
  --primary-txt--mode-dark: #2e2f42;
  --secondary-txt--mode-dark: #434455;

  /* СВЕТЛЫЕ ОТТЕНКИ ФОНА */
  --primary-bg--mode-light: #ffffff;
  --secondary-bg--mode-light: #f4f4fd;

  /* ТЕМНЫЕ ОТТЕНКО ФОНА */
  --primary-bg--mode-dark: #4d5ae5;
  --secondary-bg--mode-dark: #2e2f42;
}

/* СТИЛИ НАСЛЕДОВАНИЯ */
body {
  background-color: var(--primary-bg--mode-light);
  color: var(--main-txt--mode-light);
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* ШАПКА СТРАНИЦЫ */
.header {
  background: var(--primary-bg--mode-light);
}
/* ЛОТИП */
.logo-ferst {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--secondary-txt--mode-light);
}
.logo-secondary {
  color: var(--primary-txt--mode-dark);
}

/* НАВИГАЦИЯ */
.nav {
  text-decoration: none;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-txt--mode-dark);
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
/*Контакты*/
.header-contacts {
  color: var(--secondary-txt--mode-dark);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.header-contacts:hover,
.header-contacts:focus {
  color: #404bbf;
}

/* СЕКЦИЯ ГЕРОЙ */
.hero {
  background: var(--secondary-bg--mode-dark);
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: var(--primary-txt--mode-light);
}

.hero-button {
  font-family: var(--main-font);
  background-color: var(--primary-bg--mode-dark);
  cursor: pointer;
  color: var(--primary-txt--mode-light);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.04em;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* СЕКЦИЯ АССОЦИАЦИЙ */
.about-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--primary-txt--mode-dark);
}

.about-text {
  color: var(--secondary-txt--mode-dark);
}

/* СЕКЦИЯ РАБОТ */
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--primary-txt--mode-dark);
  text-transform: capitalize;
}

.team {
  background-color: var(--secondary-bg--mode-light);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--primary-txt--mode-dark);
  text-transform: capitalize;
}

.team-title-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: var(--primary-txt--mode-dark);
}

.team-text {
  text-align: center;
  color: var(--secondary-txt--mode-dark);
}

/* ПОДВАЛ СТРАНИЦЫ */
.footer {
  background: var(--secondary-bg--mode-dark);
}

.footer-logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-txt--mode-light);
}

.footer-logo-secondary {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-txt--mode-light);
}

.footer-text {
  color: var(--main-txt--mode-light);
}

/*--Страница портфолио--*/

/* Секция фильтр */

.filter-button {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
.filter-button:hover,
.filter-button:focus {
  background: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  color: var(--primary-txt--mode-light);
}
/*Секция портфолио*/
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-txt--mode-dark);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-txt--mode-dark);
}
