:root {
  /* ОСНОВНЫЕ ШРИФТЫ */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* СВЕТЛЫЕ ОТТЕНКИ ШРИФТА */
  --primary-txt--mode-light: #ffffff;
  --secondary-txt--mode-light: #4d5ae5;
  --main-txt--mode-light: #f4f4fd;

  /* ТЕМНЫЕ ОТТЕНКИ ШРИФТА */
  --primary-txt--mode-dark: #2e2f42;
  --secondary-txt--mode-dark: #434455;

  /* СВЕТЛЫЕ ОТТЕНКИ ФОНА */
  --primary-bg--mode-light: #ffffff;
  --secondary-bg--mode-light: #f4f4fd;

  /* ТЕМНЫЕ ОТТЕНКО ФОНА */
  --primary-bg--mode-dark: #4d5ae5;
  --secondary-bg--mode-dark: #2e2f42;

  --border:#e7e9fc;
}

/* СТИЛИ НАСЛЕДОВАНИЯ */
body {
  background-color: var(--primary-bg--mode-light);
  color: var(--main-txt--mode-light);
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.section {
  padding: 120px 0;
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* ШАПКА СТРАНИЦЫ */
.header {
  padding: 24px 0;
  border-bottom: 1px solid #e7e9fc;
  background: var(--primary-bg--mode-light);
}

.header-container {
  display: flex;
  align-items: center;
}

/* НАВИГАЦИЯ */
.nav {
  display: flex;
  align-items: center; 
  text-decoration: none;
  margin-right: 332px;
}

/* ЛОТИП */
.logo-ferst {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--secondary-txt--mode-light);

  margin-right: 76px;
}
.logo-secondary {
  color: var(--primary-txt--mode-dark);
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-item {
  padding: 24px 0;
  margin-right: 40px;
}
.nav-item:last-child {
  margin: 0px;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-txt--mode-dark);
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.header-list {
  display: flex;
  align-items: center;  
}

/*Контакты*/
.header-item {
  margin-right: 40px;
}

.header-item:last-child {
  margin-right: 0px;
}

.header-contacts {
  color: var(--secondary-txt--mode-dark);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.header-contacts:hover,
.header-contacts:focus {
  color: #404bbf;
}

/* СЕКЦИЯ ГЕРОЙ */
.hero {
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
  background: var(--secondary-bg--mode-dark);
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: var(--primary-txt--mode-light);
  max-width: 496px;
  margin-bottom: 48px;
}

.hero-button {
  font-family: var(--main-font);
  background-color: var(--primary-bg--mode-dark);
  cursor: pointer;
  color: var(--primary-txt--mode-light);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.04em;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  display: block; 
  min-width: 169px;
  height: 56px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* СЕКЦИЯ АССОЦИАЦИЙ */
.about-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
}

 .about-item {
  width: calc((100% - 72px) / 4);
}

.about-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--primary-txt--mode-dark);
}

.about-text {
  color: var(--secondary-txt--mode-dark);
}

/* СЕКЦИЯ РАБОТ */
.work-title {
  margin-bottom: 72px;
}
.work-list {
  display: flex;
  flex-wrap: wrap;
}

.work-item {
  margin-right: 24px;
}

.work-item:last-child {
  margin-right: 0px;
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--primary-txt--mode-dark);
  text-transform: capitalize;
}

.team {
  background-color: var(--secondary-bg--mode-light);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--primary-txt--mode-dark);
  text-transform: capitalize;

  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px; 
  margin-right: 24px;
}

.team-item:last-child {
  margin-right: 0px;
}

.team-info{
  padding: 32px 16px;
}

.team-title-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: var(--primary-txt--mode-dark);
  text-align: center;
  margin-bottom: 8px;
  margin-top: 32px;
}

.team-text {
  text-align: center;
  color: var(--secondary-txt--mode-dark);
}

/* ПОДВАЛ СТРАНИЦЫ */
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background: var(--secondary-bg--mode-dark);
}

.footer-logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-txt--mode-light);

  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-secondary {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-txt--mode-light);
}

.footer-text {
  width: 264px;
  color: var(--main-txt--mode-light);
}

/*--Страница портфолио--*/

/* Секция фильтр */
.filter{
  padding: 96px 0 120px;
}
.filter-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
  
  /* flex-wrap: wrap; */
}
/* .filter-item {
  margin-right: 24px;
}
.filter-item:last-child {
  margin-right: 0;
} */

.filter-button {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background: #f4f4fd;
  border: 1px solid var(--border);
  border-radius: 4px;
  cursor: pointer;

  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
}
.filter-button:hover,
.filter-button:focus {
  background: #404bbf;
  border: 1px solid transparent;
  /* font-family: inherit; */
  color: var(--primary-txt--mode-light);
}
/*Секция портфолио*/
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px; 
}

.portfolio-item {
  /* margin-right: 24px;
  margin-bottom: 48px; */
  width: calc((100% - 48px) / 3);
  border-bottom: 1px solid #e7e9fc;
}

/* .portfolio-item:nth-child(3n) {
  margin-right: 0px;
}
.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
} */
.portfolio-block{
  padding: 32px 16px;
  border: 1px solid #e7e9fc; 
  border-top: none;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-txt--mode-dark);
  /* margin-top: 32px; */
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-txt--mode-dark);

  margin-bottom: 32px;
}
